# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Pobedynskyj-Volodymyr-20-02-24.iml
# Datasource local storage ignored files
/../../../../../:\Pobedynskyj-Volodymyr-20-02-24\.idea\.idea.Pobedynskyj-Volodymyr-20-02-24.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
